<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>812549810348-fi04avtgc2h524tff5otngqjeh294hrp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.812549810348-fi04avtgc2h524tff5otngqjeh294hrp</string>
	<key>API_KEY</key>
	<string>AIzaSyA6iocVhrwzHiflvixD4fcQpMaGRZw0pFg</string>
	<key>GCM_SENDER_ID</key>
	<string>812549810348</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.jakeshapiro.Flash-Chat</string>
	<key>PROJECT_ID</key>
	<string>flash-chat-22074</string>
	<key>STORAGE_BUCKET</key>
	<string>flash-chat-22074.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:812549810348:ios:5cdb455d5add7c5d</string>
	<key>DATABASE_URL</key>
	<string>https://flash-chat-22074.firebaseio.com</string>
</dict>
</plist>